# Gradle files
.gradle/
build/
**/build/

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android Studio Navigation editor temp files
.navigation/

# IntelliJ project files
*.iml
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/assetWizardSettings.xml

# Keystore files
*.jks
*.keystore

# Google services (optional)
google-services.json

# Misc
*.class
*.apk
*.ap_
*.dex
*.cache
*.tmp
*.orig
